a {
	text-decoration:none;
}
body{
	background-color:#D7D7D7;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#PageWrapper
{
width: 844px;
margin: auto;
}
body header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color:#979797;
}
body header li {
    float: left;
}
body header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
body header li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
.loginbar{
	float: right;
}
.loginbar a{
	display:inline;
	color: white;
    text-align: center;
    padding: 14px 16px;
	background-color:#979797;
}
.loginbar a:hover{
	background-color: #111;
}
body h1{
	padding: 0px 0px;
	font-size: 36px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	display: block;
	align-content: center;
	background-color: #9A9A9A;
}
body p{
	display:block;
	color:#747474;
    text-align: left;
}
body footer {
	color: white;
	background-color:#979797;
}
